includes:
parameters:
    level: 4
    paths:
        - src/
    excludePaths:
        - vendor/'
        - bin/'
    ignoreErrors:
        -
            identifier: property.onlyWritten
            paths:
                - src/

        -
            identifier: property.unused
            paths:
                - src/